{% layout "layout.liquid" %} {% block content %}
    <h1>Workouts</h1>
    <table class="table table-responsive">
        <tr class="table-heads">
            <th>Date</th>
            <th>Athlete</th>
            <th>Climbing Grade</th>
            <th>More Info</th>
        </tr>
        {% for workout in workouts %}
        <tr>
            <td>{{ workout.date }}</td>
            <td>{{ workout.athlete.firstName }} {{workout.athlete.lastName}}</td>
            <td>{{workout.climbingGrade}}</td>
                <td><a href="/workouts/{{workout._id}}">Click Here</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}