{% layout "layout.liquid" %} {% block content %}
    <h1>Workouts Index Route</h1>

    <h2>Workouts:</h2>

    <table class="table">
        <tr class="table-secondary">
            <th>Date</th>
            <th>Athlete</th>
            <th>Total Score</th>
            <th>Delete Workout</th>
            <th>More Info</th>
        </tr>
        {% for workout in workouts %}
        <tr>
            <td>{{ workout.date }}</td>
            <td><a href="/athletes/{{workout.athlete._id}}">{{ workout.athlete.firstName }} {{workout.athlete.lastName}}</a></td>
            <td>{{ workout.maxFinger | plus: workout.maxPullup | plus:
                workout.core | plus: workout.endurance }}</td>
                <td>
                    <form action="/workouts/{{ workout._id }}?_method=DELETE" method="POST">
                        <input class="btn btn-default" type="submit" value="X" />
                    </form>
                </td>   
                <td><a href="/workouts/{{workout._id}}">Click Here</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}