{% layout "layout.liquid" %} {% block content %}
    <h1>Workouts Index Route</h1>

    <h2>Workouts:</h2>

    <table class="table">
        <tr class="table-secondary">
            <th>Date</th>
            <th>Finger Strength</th>
            <th>Max Pullup </th>
            <th>Core</th>
            <th>Endurance</th>
            <th>Total Score</th>
            <th>Delete Workout</th>
        </tr>
        {% for workout in workouts %}
        <tr>
            <td>{{ workout.createdAt }}</td>
            <td>{{ workout.maxFinger }} </td>
            <td>{{ workout.maxPullup }}</td>
            <td>{{ workout.core }}</td>
            <td>{{ workout.endurance }}</td>
            <!-- {% assign totalScore =  %} -->
            <td>{{ workout.maxFinger | plus: workout.maxPullup | plus:
                workout.core | plus: workout.endurance }}</td>
                <td>
                    <form action="/workouts/{{ workout._id }}?_method=DELETE" method="POST">
                        <input class="btn btn-default" type="submit" value="X" />
                    </form>
                </td>   
        </tr>
        {% endfor %}
    </table>
{% endblock %}