{% layout "layout.liquid" %} {% block content %}
<h1>{{workout.athlete.firstName}}'s Workout On {{workout.date}}</h1>

<table class="table">
    <tr class="table-secondary">
        <th>Finger Strength</th>
        <th>Pull-up Strength</th>
        <th>Core Strength</th>
        <th>Endurance</th>
    </tr>
    <tr>
        <th>{{workout.maxFinger}}</th>
        <th>{{workout.maxPullup}}</th>
        <th>{{workout.endurance}}</th>
        <th>{{workout.core}}</th>
    </tr>
</table>
    <h2>Total Score:
        {{workout.totalScore}}
    </h2>

{% endblock %}