{% layout "layout.liquid" %} {% block content %}
<h1>{{workout.athlete.firstName}}'s Workout</h1>
<h2>On {{workout.date}}</h2>

<table class="table table-responsive">
    <tr class="table-head">
        <th>Finger Strength</th>
        <th>Pull-up Strength</th>
        <th>Core Strength</th>
        <th>Endurance</th>
    </tr>
    <tr>
        <td>{{workout.maxFinger}}</td>
        <td>{{workout.maxPullup}}</td>
        <td>{{workout.endurance}}</td>
        <td>{{workout.core}}</td>
    </tr>
</table>
    <h2>Total Score:
        {{workout.totalScore}}
    </h2>
    <br>
    <h2>Here's a {{workout.climbingGrade}} that {{workout.athlete.firstName}} has enough fitness for:</h2>
    <h3>{{redditObject.title}}</h3>
    <br>
    <img class="workout-img" src="{{redditObject.pic}}" alt="">

{% endblock %}