{% layout "layout.liquid" %} {% block content %}
<h1>My Athletes</h1>
<a class="btn btn-default" href="/athletes/new">Add New Climber</a>
<table class="table table-responsive">
    <tr class="table-head">
        <th>Name</th>
        <th>Current Climbing Grade </th>
        <th>Delete This Climber</th>
    </tr>
    {% for athlete in athletes %}
    <tr>
        <td>
            <a class="btn btn-default" href="/athletes/{{ athlete._id }}">{{athlete.firstName}} {{athlete.lastName}}</a>
        </td>
        <td>
            <!-- get the last workout in array to display the most current climbingGrade -->
            {% assign latestWorkout = athlete.workouts.last %}
            {{latestWorkout.climbingGrade}}
        </td>
        <td>
            <form action="/athletes/{{ athlete._id }}?_method=DELETE" method="POST">
                <input class="btn btn-default" type="submit" value="X" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}