{% layout "layout.liquid" %} {% block content %}
<h1> {{athlete.firstName}} {{athlete.lastName}}</h1>
<div class="flex-container">
    <a class="btn btn-default" href="/athletes/{{athlete._id}}/edit">Edit {{athlete.firstName}}</a>
    <a class="btn btn-default" href="/workouts/{{athlete._id}}/new">Add a New Workout For {{athlete.firstName}}</a>
    <a class="btn btn-default" href="/athletes">Go Back To My Athletes</a>
</div>
<br>
<h2>Workouts</h2>
<table class="table">
    <tr class="table-head">
        <th>Date</th>
        <th>Total Score</th>
        <th>Climbing Grade</th>
        <th>More About This Workout</th>
        <th>Delete This Workout</th>
    </tr>
    {% for workout in athlete.workouts %}
    <tr>
        <td>{{workout.date}}</td>
        <td>{{workout.totalScore}}</td>
        <td>{{workout.climbingGrade}}</td>
        <td><a class="btn btn-default" href="/workouts/{{workout._id}}">Click Here</a></td>
        <td>
            <form action="/workouts/{{ workout._id }}?_method=DELETE" method="POST">
                <input class="btn btn-default" type="submit" value="X" />
            </form>
        </td>   
    </tr>
    {% endfor %}
</table>
{% endblock %}